@font-face {
  font-family: 'Coolvetica';
  src: url('/Fonts/Coolvetica Rg.otf');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Coolvetica It';
  src: url('/Fonts/Coolvetica Rg It.otf');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face{
  font-family: 'Raleway';
  src: url('/Fonts/Raleway-Regular.ttf') format('truetype');
}

@font-face{
  font-family: 'Raleway Bold';
  src: url('/Fonts/Raleway-ExtraBold.ttf') format('truetype');
}

@font-face{
  font-family: 'Raleway Black';
  src: url('/Fonts/Raleway-Black.ttf') format('truetype');
}
@font-face{
  font-family: 'Old London';
  src: url('/Fonts/OldLondon.ttf') format('truetype');
}

::selection{
  background: #ff0000;
  color: #fff;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    filter: blur(5px);
  }
  to {
    opacity: 1;
    filter: blur(0);
  }
}

@keyframes Title{
  from {
    letter-spacing: 200px;
    opacity: 0;
    filter: blur(10px);
  }
  to {
    letter-spacing: 0.3em;
    opacity: 1;
    filter: blur(0px);
  }
}

.btn-premium {
  position: relative;
  display: inline-block;
  text-decoration: none;
  overflow: hidden;
  background: white;
  border: solid 1px rgba(0, 0, 0, 0.112);
  color: black;
  padding: 1rem 2rem;
  border-radius: 5px;
  text-decoration: none;
  font-weight: 600;
  font-size: 0.9rem;
  transition: all 0.7s ease;
  cursor: pointer;
  display: inline-block;
}

.btn-premium::before {
  content: "";
  position: absolute;
  inset: 0;
  background: black;
  border: solid 1px rgba(255, 255, 255, 0.112);
  z-index: -1;
  clip-path: ellipse(0% 0% at 50% 100%);
  transition: clip-path 0.7s ease-in-out;
}

.btn-premium:hover::before {
  clip-path: ellipse(150% 150% at 50% 100%);
}

.btn-premium:hover {
  color: var(--primary);
  transform: translateY(-3px);
  color: rgb(255, 255, 255);
}

.btn-outline {
    background: transparent;
    color: var(--primary);
    border: 1px solid var(--primary);
}