@font-face {
  font-family: 'Coolvetica';
  src: url('/Fonts/Coolvetica Rg.otf');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Coolvetica It';
  src: url('/Fonts/Coolvetica Rg It.otf');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face{
  font-family: 'Raleway';
  src: url('/Fonts/Raleway-Regular.ttf') format('truetype');
}

@font-face{
  font-family: 'Raleway Bold';
  src: url('/Fonts/Raleway-ExtraBold.ttf') format('truetype');
}

@font-face{
  font-family: 'Raleway Black';
  src: url('/Fonts/Raleway-Black.ttf') format('truetype');
}
@font-face{
  font-family: 'Old London';
  src: url('/Fonts/OldLondon.ttf') format('truetype');
}

::selection{
  background: #ff0000;
  color: #fff;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    filter: blur(5px);
  }
  to {
    opacity: 1;
    filter: blur(0);
  }
}